<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<include resource="org/springframework/boot/logging/logback/defaults.xml"/>
	<include resource="org/springframework/boot/logging/logback/console-appender.xml" />

	<logger name="org.testcontainers" level="info" />
	<logger name="com.github.dockerjava" level="error" />
	<root level="INFO">
		<appender-ref ref="CONSOLE" />
	</root>
</configuration>
